#{extends 'main.html' /}
#{set title:messages.get('titles.banks.index') /}

<div class="page-header">
	<h2>&{'labels.banks'}</h2>
</div>

#{if banks}
	<table id="accounts" class="table table-hover">
		<thead>
			<tr>
				<th>&{'labels.label'}</th>
				<th>&{'labels.customers'}</th>
				<th class="hidden-phone">&{'labels.lastSync'}</th>
				<th class="hidden-phone">&{'labels.actions'}</th>
			</tr>
		</thead>

		<tbody>
			#{list as:'bank', items:banks}
				<tr data-bank-id="${bank.id}">
					<td>${bank.label}</td>
					<td>${bank.customers.size()}</td>
					<td class="hidden-phone">${bank.localLastSync?.toDate()?.format(messages.get('dates.datetime.format'))}</td>
					<td class="hidden-phone"><a href="@{Banks.synchronize(bank.id)}"><i class="icon-download-alt"></i></a></td>
				</tr>
			#{/list}
		</tbody>
	</table>
#{/if}