/* Navbar fixed-top issue when responsive is enabled */
@media ( min-width : 981px) {
	body {
		padding-top: 60px;
	}
}

/* Transactions */
.debit {
	color: red;
}

.credit {
	color: green;
}

.neutral {
	color: gray;
}

/* Configurations */
.ui-datepicker-trigger {
	cursor: pointer;
	margin-bottom: 10px;
	margin-left: 5px;
}