#{extends 'main.html' /}
#{set title:messages.get('titles.users.edit') /}

<fieldset>
	<legend>&{'titles.users.edit'}</legend>

	#{form @Users.save(), method:'POST', class:'form-horizontal'}
		<input name="userId" type="hidden" value="${user.id}">

		<div class="control-group#{ifError 'passwordOld'} error#{/ifError}">
			<label class="control-label required" for="passwordOld">&{'labels.password.old'}</label>
			<div class="controls">
				<input id="passwordOld" name="passwordOld" type="password" placeholder="&{'labels.password.old'}">
				#{ifError 'passwordOld'}
					<span class="help-inline">#{error 'passwordOld' /}</span>
				#{/ifError}
			</div>
		</div>

		<div class="control-group#{ifError 'password'} error#{/ifError}">
			<label class="control-label required" for="password">&{'labels.password'}</label>
			<div class="controls">
				<input id="password" name="password" type="password" placeholder="&{'labels.password'}">
				#{ifError 'password'}
					<span class="help-inline">#{error 'password' /}</span>
				#{/ifError}
			</div>
		</div>

		<div class="control-group#{ifError 'passwordBis'} error#{/ifError}">
			<label class="control-label required" for="passwordBis">&{'labels.password.bis'}</label>
			<div class="controls">
				<input id="passwordBis" name="passwordBis" type="password" placeholder="&{'labels.password.bis'}">
				#{ifError 'passwordBis'}
					<span class="help-inline">#{error 'passwordBis' /}</span>
				#{/ifError}
			</div>
		</div>

		<div class="control-group#{ifError 'locale'} error#{/ifError}">
			<label class="control-label required" for="locale">&{'labels.language'}</label>
			<div class="controls">
				<select name="locale">
					<option></option>
					#{list items:play.langs, as:'locale'}
						<option value="${locale}"#{if locale == user.locale}selected="selected"#{/if}>${play.configuration['languages.' + locale]}</option>
					#{/list}
				</select> 
				#{ifError 'locale'}
					<span class="help-inline">#{error 'locale' /}</span>
				#{/ifError}
			</div>
		</div>

		<div class="control-group">
			<div class="controls">
				<button class="btn btn-primary" type="submit">&{'actions.save'}</button>
			</div>
		</div>
	#{/form}
</fieldset>