#{extends 'main.html' /}
#{set title:messages.get('titles.users.index') /}

#{if users}
	<table class="table table-hover">
		<thead>
			<tr>
				<th>&{'labels.login'}</th>
				<th>&{'labels.language'}</th>
				<th>&{'labels.activated'}</th>
				<th>&{'labels.admin'}</th>
				<th>&{'labels.actions'}</th>
			</tr>
		</thead>

		<tbody>
			#{list as:'user', items:users}
				<tr>
					<td>${user.login}</td>
					<td>${play.configuration['languages.' + user.locale]}</td>
					<td>${user.activated}</td>
					<td>${user.admin}</td>
					<td>
						#{if user.admin == false}
							<a href="@{Users.toggle(user.id)}"><i class="${user.activated == true ? 'icon-stop' : 'icon-play'}"></i></a>
						#{/if}
						#{if user.admin == false || user.id == userId}
							<a href="@{Users.edit(user.id)}"><i class="icon-edit"></i></a>
						#{/if}
					</td>
				</tr>
			#{/list}
		</tbody>
	</table>
#{/if}