#{extends 'main.html' /}
#{set title:messages.get('titles.users.index') /}

%{
	Long userId = (session.get('user.id')) ? Long.parseLong(session.get('user.id')) : null;
}%

<div class="page-header">
	<h2>&{'labels.users'}</h2>
</div>

#{if users}
	<table class="table table-hover">
		<thead>
			<tr>
				<th>&{'labels.login'}</th>
				<th>&{'labels.language'}</th>
				<th>&{'labels.activated'}</th>
				<th>&{'labels.admin'}</th>
				<th>&{'labels.actions'}</th>
			</tr>
		</thead>

		<tbody>
			#{list as:'user', items:users}
				%{
					Boolean activated = (user.activated == true);
				}%

				<tr>
					<td>${user.login}</td>
					<td>${play.configuration['languages.' + user.locale]}</td>
					<td>&{'labels.' + user.activated}</td>
					<td>&{'labels.' + user.admin}</td>
					<td>
						#{if user.id != userId}
							<a href="@{Users.edit(user.id)}"><i title="&{'actions.edit'}" class="icon-edit"></i></a>
							<a href="@{Users.toggle(user.id)}"><i title="&{(activated == true) ? 'actions.deactivate' : 'actions.activate'}" class="${(activated == true) ? 'icon-stop' : 'icon-play'}"></i></a>
							<a href="@{Users.delete(user.id)}"><i title="&{'actions.delete'}" class="icon-trash"></i></a>
						#{/if}
					</td>
				</tr>
			#{/list}
		</tbody>
	</table>
#{/if}
#{else}
	<p>&{'information.users.empty'}</p>
#{/else}

<div>
	<a href="@{Users.create()}" class="btn btn-primary">&{'actions.create'}</a>
</div>