#{extends 'main.html' /}
#{set title:messages.get('titles.customers.index') /}

%{
	Boolean userAdmin = (session.get('user.admin')) ? Boolean.parseBoolean(session.get('user.admin')) : false;
}%

<div class="page-header">
	<h2>&{'labels.customers'}</h2>
</div>

#{if customers}
	<table id="customers" class="table table-hover">
		<thead>
			<tr>
				<th>&{'labels.firstName'}</th>
				<th>&{'labels.lastName'}</th>
				<th>&{'labels.bank'}</th>
				<th class="hidden-phone">&{'labels.accounts'}</th>

				#{if userAdmin == true}
					<th class="hidden-phone">&{'labels.actions'}</th>
				#{/if}
			</tr>
		</thead>

		<tbody>
			#{list as:'customer', items:customers}
				<tr>
					<td>${customer.firstName}</td>
					<td>${customer.lastName}</td>
					<td>${customer.bank.label}</td>
					<td class="hidden-phone">${customer.accounts.size()}</td>

					#{if userAdmin == true}
						<td class="hidden-phone">
							<a href="@{Customers.edit(customer.id)}"><i title="&{'actions.edit'}" class="icon-edit"></i></a>
						</td>
					#{/if}
				</tr>
			#{/list}
		</tbody>
	</table>
#{/if}
#{else}
	<p>&{'information.customers.empty'}</p>
#{/else}

<div>
	<a href="@{Customers.create()}" class="btn btn-primary">&{'actions.create'}</a>
</div>