#{extends 'main.html' /}
#{set title:'Account' /}

#{form @Application.showAccount(), method:'GET'}
	<input name="accountId" type="hidden" value="${accountId}">

	#{select 'month', items:months, value:month}
	#{/select}

	#{select 'year', items:years, value:year}
	#{/select}

	<input type="submit" value="Valider">
#{/form}

<table id="regular">
	<thead>
		<tr>
			<td>Intitulé</td>
			<td>Montant</td>
			<td>Date</td>
			<td>Actions</td>
		</tr>
	</thead>
	<tfoot>
		<tr id="createRegularTransactionTr">
			<td colspan="3"></td>
			<td><a id="createRegularTransactionLink" href="#">Ajouter</a></td>
		</tr>
	</tfoot>
	<tbody>
		#{list as:'transaction', items:regularTransactions}
			<tr>
				<td>${transaction.configuration.label}</td>
				<td>${transaction.configuration.amount.formatCurrency(messages.get('currency'))}</td>
				<td>${transaction.date.toDate().format()}</td>
				<td><a href="@{Application.deleteRegularTransaction(accountId, year, month, transaction.configuration.id)}" data-action="delete">Supprimer</a></td>
			</tr>
		#{/list}
	</tbody>
</table>

#{form @Application.createRegularTransaction(), id:'createRegularTransactionForm', method:'POST', style:'display: none;'}
	<input name="accountId" type="hidden" value="${accountId}">
	<input name="year" type="hidden" value="${year}">
	<input name="month" type="hidden" value="${month}">

	<input name="label" type="text" placeholder="Intitulé">
	<input name="amount" type="text" placeholder="Montant">
	<input name="date" type="date">

	<input type="submit" value="Valider">
#{/form}

<table id="oneOff">
	<thead>
		<tr>
			<td>Intitulé</td>
			<td>Montant</td>
			<td>Date</td>
		</tr>
	</thead>

	<tbody>
		#{list as:'transaction', items:oneOffTransactions}
			<tr>
				<td>${transaction.label}</td>
				<td>${transaction.amount.formatCurrency(messages.get('currency'))}</td>
				<td>${transaction.date.toDate().format()}</td>
			</tr>
		#{/list}
	</tbody>
</table>

<script type="text/javascript">
	$(function() {
		var regularTransactions = $('table#regular > tbody');
		var oneOffTransactions = $('table#oneOff > tbody');

		/* Regular transaction creation */
		$('#createRegularTransactionLink').click(function() {
			$('#createRegularTransactionTr').hide();
			$('#createRegularTransactionForm').show();

			return false;
		});

		$('#createRegularTransactionForm').submit(function() {
			return confirm('Êtes-vous sûr de vouloir ajouter cette transaction permanente ?');
		});

		/* Regular transaction deletion */
		regularTransactions.find('a[data-action="delete"]').click(function() {
			return confirm('Êtes-vous sûr de vouloir supprimer cette transaction permanente ?');
		});
	});
</script>