#{extends 'main.html' /}
#{set title:'Account' /}

#{form @Application.showAccount(), method:'GET'}
	<input name="accountId" type="hidden" value="${accountId}">

	#{select 'month', items:months, value:month}
	#{/select}

	#{select 'year', items:years, value:year}
	#{/select}

	<input type="submit" value="Valider">
#{/form}

<table id="regular">
	<thead>
		<tr>
			<td>Intitulé</td>
			<td>Montant</td>
			<td>Date</td>
			<td>Actions</td>
		</tr>
	</thead>

	<tbody>
		#{list as:'transaction', items:regularTransactions}
			<tr>
				<td>${transaction.label}</td>
				<td>${transaction.amount.formatCurrency(messages.get('currency'))}</td>
				<td>${transaction.date.toDate().format()}</td>
				<td><a href="#" data-id="${transaction.id}">Supprimer</a></td>
			</tr>
		#{/list}
	</tbody>
</table>

<table id="oneOff">
	<thead>
		<tr>
			<td>Intitulé</td>
			<td>Montant</td>
			<td>Date</td>
		</tr>
	</thead>

	<tbody>
		#{list as:'transaction', items:oneOffTransactions}
			<tr>
				<td>${transaction.label}</td>
				<td>${transaction.amount.formatCurrency(messages.get('currency'))}</td>
				<td>${transaction.date.toDate().format()}</td>
			</tr>
		#{/list}
	</tbody>
</table>

<script type="text/javascript">
	$(function() {
		var transactions = $('table#transactions > tbody');
		var monthly = $('table#monthly > tbody');
		var regular = $('table#regular > tbody');

		var f = function() {
			alert('ok');
		};

		$('a').click(function() {
			if (confirm('ici')) {
				f();
			}

			return false;
		});
	});
</script>