#{extends 'main.html' /}
#{set title:'Account' /}

#{form @Application.showAccount(), method:'GET'}
	<input name="accountId" type="hidden" value="${accountId}">
	
	#{select 'month', items:months, value:month}
	#{/select}

	#{select 'year', items:years, value:year}
	#{/select}

	<input type="submit" value="Valider">
#{/form}

<table>
	<thead>
		<tr>
			<td>Intitulé</td>
			<td>Montant</td>
			<td>Date</td>
		</tr>
	</thead>

	<tbody>
		#{list as:'transaction', items:transactions}
			<tr>
				<td>${transaction.label}</td>
				<td>${transaction.amount.formatCurrency(messages.get('currency'))}</td>
				<td>${new Date(transaction.date).format()}</td>
			</tr>
		#{/list}
	</tbody>
</table>