#{set 'styles'}
	#{stylesheet 'bootstrap/bootstrap-2.3.2.min.css', media:'screen' /}
	#{stylesheet 'bootstrap/bootstrap-responsive-2.3.2.min.css', media:'screen' /}
	#{stylesheet 'jquery-ui/jquery-ui-1.10.4.cupertino.min.css', media:'screen' /}
	#{stylesheet 'main.css', media:'screen' /}
#{/set}

#{set 'scripts'}
	#{script 'jquery/jquery-1.11.0.min.js', charset:'_response_encoding' /}
	#{script 'bootstrap/bootstrap-2.3.2.min.js', charset:'_response_encoding' /}
	#{script 'jquery-ui/jquery-ui-1.10.4.min.js', charset:'_response_encoding' /}
#{/set}

%{
	String applicationName = play.configuration['application.name'];

	String returnUrl = request.url;
	Long userId = (session.get('user.id')) ? Long.parseLong(session.get('user.id')) : null;
	String userLogin = session.get('user.login');
	Boolean userAdmin = (session.get('user.admin')) ? Boolean.parseBoolean(session.get('user.admin')) : false;
}%

<!DOCTYPE html>

<html>
	<head>
		<title>#{get 'title' /}</title>

		<meta charset="${_response_encoding}">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">

		#{get 'styles' /}
		#{get 'scripts' /}

		<script type="text/javascript">
			var messages = {
				'actions.cancel': '&{"actions.cancel"}',
				'actions.validate': '&{"actions.validate"}',

				'confirms.transactions.regular.create': '&{"confirms.transactions.regular.create"}',
				'confirms.transactions.regular.toggle': '&{"confirms.transactions.regular.toggle"}',
				'confirms.transactions.regular.delete': '&{"confirms.transactions.regular.delete"}'
			};
		</script>
	</head>

	<body>
		<div class="navbar navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container">	
					<a class="brand" href="@{Application.index()}">${applicationName}</a>

					<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>

					<div class="nav-collapse collapse">
						<ul class="nav">
							<li><a href="@{Banks.index()}">&{'labels.banks'}</a></li>
							<li><a href="@{Customers.index()}">&{'labels.customers'}</a></li>
							<li><a href="@{Accounts.index()}">&{'labels.accounts'}</a></li>

							#{if userAdmin == true}
								<li class="dropdown">
									<a href="#" class="dropdown-toggle" data-toggle="dropdown">&{'labels.administration'}&nbsp;<b class="caret"></b></a>
									<ul class="dropdown-menu">
										<li><a href="@{Users.index()}">&{'labels.users'}</a></li>
										<li><a href="@{DataManagement.index()}">&{'labels.data.management'}</a>
									</ul>
								</li>
							#{/if} 
						</ul>

						#{if userId}
							<ul class="nav pull-right">
								<li class="dropdown">
									<a class="dropdown-toggle" href="#" data-toggle="dropdown">${userLogin}&nbsp;<b class="caret"></b></a>
									<ul class="dropdown-menu user-dropdown-menu">
										<li class="dropdown">
											<a href="@{Users.edit(userId)}">&{'labels.information.edit'}</a>
										</li>
										<li class="divider" style="margin-bottom: 0px;"></li>
										<li class="dropdown">
											<div>
												<form class="navbar-form" action="@{SuperController.logOut()}" method="POST">
													<input name="returnUrl" type="hidden" value="${returnUrl}">

													<button type="submit" class="btn btn-link">&{'actions.sign.out'}</button>
												</form>
											</div>
										</li>
									</ul>
								</li>
							</ul>
						#{/if}
						#{else}
							#{form @SuperController.logIn(), method:'POST', class:'navbar-form pull-right'}
								<input name="returnUrl" type="hidden" value="${returnUrl}">

								<div class="control-group#{ifError 'login'} error#{/ifError}" style="display: inline;">
									<input name="login" type="text" placeholder="&{'labels.login'}" value="${flash.login}">
								</div>

								<div class="control-group#{ifError 'password'} error#{/ifError}" style="display: inline;">
									<input name="password" type="password" placeholder="&{'labels.password'}">
								</div>

								<div class="btn-group">
									<button type="submit" class="btn btn-primary">&{'actions.sign.in'}</button>
									<button data-toggle="dropdown" class="btn btn-primary dropdown-toggle"><span class="caret"></span></button>
									<ul class="dropdown-menu">
										<li>
											<a href="@{Users.signUp()}">&{'actions.sign.up'}</a>
										</li>
									</ul>
								</div>
							#{/form}
						#{/else}
					</div>
				</div>
			</div>
		</div>

		<div id="mainContainer" class="container">
			<div class="row-fuild">
				#{doLayout /}
			</div>
		</div>
	</body>
</html>
