#{extends 'main.html' /}
#{set title:'Comptes' /}

#{if accounts}
	<table class="table table-hover">
		<thead>
			<tr>
				<th>Banque</th>
				<th>Numéro</th>
				<th>Intitulé</th>
				<th>Solde</th>
				<th>Synchronisation</th>
			</tr>
		</thead>

		<tbody>
			#{list as:'account', items:accounts}
				<tr>
					<td>${account.bank?.label}</td>
					<td>${account.number}</td>
					<td><a href="@{Accounts.show(account.id)}">${account.label}</a></td>
					<td>${account.balance.formatCurrency(messages.get('currency'))}</td>
					<td><a href="#" data-action="refresh"><i class="icon-refresh"></i></a>${account.lastSync?.toDate()?.format()}</td>
				</tr>
			#{/list}
		</tbody>
	</table>
#{/if}

<script type="text/javascript">
	$(function() {
		$('a[data-action="refresh"]').click(function() {
			return false;
		});
	});
</script>