#{extends 'main.html' /}
#{set title:messages.get('titles.accounts.show') /}

%{
	Boolean userAdmin = (session.get('user.admin')) ? Boolean.parseBoolean(session.get('user.admin')) : false;

	boolean currentDate = (date.getYear() == now.getYear() && date.getMonthOfYear() == now.getMonthOfYear());
}%

<div class="page-header">
	<h2>&{'labels.summary'}</h2>
</div>

<div id="dialog" style="display: none;">
	#{form @Transactions.create(), id:'createRegularTransactionForm', method:'POST'}
		<input id="transactionId" name="transactionId" type="hidden">

		<div>
			<label>Catégorie</label>
			#{select 'categoryId', items:categories, labelProperty:'label', id:'transactionCategory'}
				#{option}#{/option}
			#{/select}
		</div>

		<div>
			<label>&{'labels.label.friendly'}</label>
			<input id="transactionFriendlyLabel" name="friendlyLabel" type="text" placeholder="&{'labels.label.friendly'}">
		</div>

		<div>
			<label>&{'labels.date'}</label>
			<input id="transactionDate" name="date" type="text" placeholder="&{'labels.date'}">
		</div>
	#{/form}
</div>

<h3>&{'labels.details'}&nbsp;<small>${account.label}</small></h3>
<dl class="dl-horizontal">
	<dt>&{'labels.bank'}</dt>
	<dd>${account.customer.bank.label}</dd>
	<dt>&{'labels.customer'}</dt>
	<dd>${account.customer.fullName}</dd>
	<dt>&nbsp;</dt>
	<dd>&nbsp;</dd>
	<dt>&{'labels.number'}</dt>
	<dd>&{account.fullNumber}</dd>
	<dt>&{'labels.balance'}</dt>
	<dd class="${(account.balance < 0) ? 'debit' : ((account.balance > 0) ? 'credit' : 'neutral')}">${account.balance.formatCurrencyEur()}</dd>
	<dt>&{'labels.lastSync'}</dt>
	<dd>${account.localLastSync?.toDate().format(messages.get('dates.datetime.format'))}</dd>
</dl>

<hr style="margin: 40px 0px;">

<h3>&{'labels.period'}</h3>
#{form @Accounts.show(account.id), method:'GET', id:'dateForm'}
	<div class="input-prepend input-append">
		<a href="@{Accounts.show(account.id, previousDate.toDate().format('yyyy'), previousDate.toDate().format('M'))}" class="btn btn-primary">&{'labels.previous'}</a>

		<select id="dates">
			#{list as:'d', items:dates}
				<option data-year="${d.toDate().format('yyyy')}" data-month="${d.toDate().format('M')}">${d.toDate().format(messages.get('dates.format.month'))}</option>
			#{/list}
		</select>

		<a href="@{Accounts.show(account.id, nextDate.toDate().format('yyyy'), nextDate.toDate().format('M'))}" class="btn btn-primary">&{'labels.next'}</a>
	</div>
#{/form}

<h3>&{'titles.transactions.regular'}</h3>
<div class="well">
	<table id="regularTransactions" class="table table-hover" style="margin-bottom: 0px;">
		<thead>
			<tr>
				<th>&{'labels.label'}</th>
				<th>&{'labels.amount'}</th>
				<th class="hidden-phone">&{'labels.date'}</th>

				#{if currentDate == true || userAdmin == true}
					<th class="hidden-phone">&{'labels.actions'}</th>
				#{/if}
			</tr>
		</thead>

		<tbody>
			#{list as:'category', items:regularTransactions.keySet()}
				%{
					Double total = categoryTotals.get(category);
				}%

				<tr data-category-id="${category.id}" style="cursor: pointer;">
					<td><a href="#"><i class="icon-chevron-down"></i>&nbsp;${category.label}</a></td>
					<td class="${(total < 0) ? 'debit' : ((total > 0) ? 'credit' : 'neutral')}" style="text-align: right; white-space: nowrap;">${total?.formatCurrencyEur()}</td>
					<td class="hidden-phone"></td>

					#{if currentDate == true || userAdmin == true}
						<td class="hidden-phone"></td>
					#{/if}
				</tr>

				#{list as:'transaction', items:regularTransactions.get(category)}
					%{
						Double amount = transaction.amount;
					}%

					<tr class="${(transaction.done == true) ? 'success' : 'error'}" data-transaction-category-id="${category.id}">
						<td style="padding-left: 25px;">${transaction.configuration.friendlyLabel}</td>
						<td class="${(amount < 0) ? 'debit' : ((amount > 0) ? 'credit' : 'neutral')}" style="text-align: right; white-space: nowrap;">${amount?.formatCurrencyEur()}</td>
						<td class="hidden-phone">${transaction.date.toDate().format(messages.get('dates.format'))}</td>

						#{if currentDate == true || userAdmin == true}
							<td class="hidden-phone">
								<a href="@{Transactions.generate(transaction.configuration.id)}"><i class="icon-cog"></i></a>
								<a href="@{Transactions.deactivate(transaction.configuration.id)}" data-action="deactivate"><i class="${transaction.configuration.active == true ? 'icon-step-forward' : 'icon-off'}"></i></a>
							</td>
						#{/if}
					</tr>
				#{/list}
			#{/list}
		</tbody>
	</table>
</div>

<h3>&{'titles.transactions.one-off'}</h3>
#{if oneOffTransactions}
	<table id="oneOffTransactions" class="table table-condensed table-hover">
		<thead>
			<tr>
				<th class="hidden-phone" style="width: 1px;"></th>
				<th>&{'labels.label'}</th>
				<th>&{'labels.amount'}</th>
				<th>&{'labels.date'}</th>

				#{if currentDate == true}
					<th class="hidden-phone">&{'labels.pay.monthly'}</th>
				#{/if}
			</tr>
		</thead>

		<tbody>
			#{list as:'transaction', items:oneOffTransactions}
				%{
					double amount = transaction.amount;
				}%

				<tr data-transaction-id="${transaction.id}">
					<td class="hidden-phone">
						#{if transaction.additionalLabel}
							<i title="${transaction.additionalLabel}" class="icon-info-sign" style="cursor: help;"></i>
						#{/if}
					</td>

					<td class="transaction-label">${transaction.label}</td>
					<td class="${(amount < 0) ? 'debit' : ((amount > 0) ? 'credit' : 'neutral')}" style="text-align: right; white-space: nowrap;">${amount.formatCurrencyEur()}</td>
					<td class="transaction-date">${transaction.date.toDate().format(messages.get('dates.format'))}</td>

					#{if currentDate == true}
						<td class="hidden-phone"><a href="#" data-action="create"><i class="icon-calendar"></i></a></td>
					#{/if}
				</tr>
			#{/list}
		</tbody>
	</table>
#{/if}
#{else}
	<p>&{'information.transactions.empty'}</p>
#{/else}

<script type="text/javascript">
	var dialog = $('#dialog');

	function initDateForm() {
		var dates = $('#dates');

		dates.find('option').each(function() {
			var date = $(this);
			var year = date.data('year');
			var month = date.data('month');

			if (year == '${date.toDate().format("yyyy")}' && month == '${date.toDate().format("M")}') {
				date.attr('selected', 'selected');

				return false;
			}
		});

		dates.change(function() {
			var selected = dates.find('option:selected');
			var year = date.data('year');
			var month = date.data('month');

			window.location = $('#dateForm').attr('action') + '/' + year + '/' + month;
		});
	};

	function initDialog() {
		var form = $('#createRegularTransactionForm');

		/* Buttons configuration */
		var buttons = {};
		buttons[messages['actions.validate']] = function() {
			form.submit();
		};
		buttons[messages['actions.cancel']] = function() {
			$('#dialog').dialog('close');
		};

		/* Dialog configuration */
		$('#dialog').dialog({
			autoOpen: false,
			buttons: buttons,
			height: 375,
			modal: true,
			width: 450,
		});

		/* Datepicker input */
		$('#transactionDate').datepicker({
			buttonImage: '',
			buttonImageOnly: true,
			dateFormat: 'dd/mm/yy',
			minDate: '01/${now.getMonthOfYear()}/${now.getYear()}',
			showOn: 'button'
		});

		/* Form submission */
		form.submit(function() {
			return confirm(messages['confirms.transactions.regular.create']);
		});
	};

	function initRegularTransactionsTable() {
		var regularTransactions = $('#regularTransactions > tbody');

		/* Regular transaction expansion from regular transactions table */
		regularTransactions.find('tr[data-category-id]').click(function() {
			var categoryId = $(this).data('category-id');
			var i = $(this).find('i');

			var classToRemove = (i.hasClass('icon-chevron-down')) ? 'icon-chevron-down' : 'icon-chevron-right';
			var classToAdd = (i.hasClass('icon-chevron-down')) ? 'icon-chevron-right' : 'icon-chevron-down';

			i.removeClass(classToRemove);
			i.addClass(classToAdd);

			regularTransactions.find('tr[data-transaction-category-id="' + categoryId + '"]').toggle();

			return false;
		});

		/* Regular transaction deletion from regular transactions table */
		regularTransactions.find('a[data-action="deactivate"]').click(function() {
			return confirm(messages['confirms.transactions.regular.deactivate']);
		});
	};

	function initOneOffTransactionsTable() {
		var oneOffTransactions = $('#oneOffTransactions > tbody');

		/* Regular transaction creation from one-off transactions table */
		oneOffTransactions.find('a[data-action="create"]').click(function() {
			var tr = $(this).closest('tr[data-transaction-id]');
			var transactionId = tr.data('transaction-id');
			var label = tr.find('.transaction-label').text();
			var date = tr.find('.transaction-date').text();

			$('#transactionId').val(transactionId).prop('disabled', false);
			$('#transactionCategory').val('');
			$('#transactionDate').val(date);

			dialog.dialog('option', 'title', label);
			dialog.dialog('open');

			return false;
		});
	};

	$(function() {
		initDateForm();
		initDialog();
		initRegularTransactionsTable();
		initOneOffTransactionsTable();
	});
</script>