#{extends 'main.html' /}
#{set title:messages.get('titles.accounts.show') /}

%{
	boolean currentDate = (date.equals(current) == true);
}%

#{form @Accounts.show(accountId), method:'GET', id:'dateForm'}
	<div class="input-prepend input-append">
		<a href="@{Accounts.show(accountId, previousDate.toDate().format('yyyy'), previousDate.toDate().format('M'))}" class="btn btn-primary">&{'labels.previous'}</a>

		<select id="dates" class="span2">
			#{list as:'d', items:dates}
				<option data-year="${d.toDate().format('yyyy')}" data-month="${d.toDate().format('M')}">${d.toDate().format(messages.get('date.format.month'))}</option>
			#{/list}
		</select>

		<a href="@{Accounts.show(accountId, nextDate.toDate().format('yyyy'), nextDate.toDate().format('M'))}" class="btn btn-primary">&{'labels.next'}</a>
	</div>
#{/form}

<div id="dialog" style="display: none;">
	#{form @Transactions.create(), id:'createRegularTransactionForm', method:'POST'}
		<input id="transactionId" name="transactionId" type="hidden">

		<div>
			<label>Catégorie</label>
			#{select 'categoryId', items:categories, labelProperty:'label', id:'transactionCategory'}
				#{option}#{/option}
			#{/select}
		</div>

		<div>
			<label>&{'labels.label.friendly'}</label>
			<input id="transactionFriendlyLabel" name="friendlyLabel" type="text" placeholder="&{'labels.label.friendly'}">
		</div>

		<div>
			<label>&{'labels.date'}</label>
			<input id="transactionDate" name="date" type="text" placeholder="&{'labels.date'}">
		</div>
	#{/form}
</div>

<div>
	<h3>&{'titles.transactions.regular'}</h3>

	<table id="regularTransactions" class="table table-hover">
		<thead>
			<tr>
				<th>&{'labels.label'}</th>
				<th>&{'labels.amount'}</th>
				<th>&{'labels.date'}</th>

				#{if currentDate == true}
					<th>&{'labels.actions'}</th>
				#{/if}
			</tr>
		</thead>

		<tbody>
			#{list as:'category', items:regularTransactions.keySet()}
				%{
					Double total = categoryTotals.get(category);
				}%

				<tr>
					<td><a href="#" data-action="expand" data-category-id="${category.id}"><i class="icon-chevron-down"></i>&nbsp;${category.label}</a></td>
					<td class="${(total < 0) ? 'debit' : ((total > 0) ? 'credit' : 'neutral')}">${total?.formatCurrency(messages.get('currency'))}</td>

					#{if currentDate == true}
						<td colspan="2"></td>
					#{/if}
					#{else}
						<td></td>
					#{/else}
				</tr>

				#{list as:'transaction', items:regularTransactions.get(category)}
					%{
						Double amount = transaction.amount;
					}%

					<tr class="${(transaction.done == true) ? 'success' : 'error'}" data-category-id="${category.id}">
						<td>${transaction.configuration.friendlyLabel}</td>
						<td class="${(amount < 0) ? 'debit' : ((amount > 0) ? 'credit' : 'neutral')}">${amount?.formatCurrency(messages.get('currency'))}</td>
						<td>${transaction.date.toDate().format(messages.get('date.format'))}</td>

						#{if currentDate == true}
							<td>
								<a href="@{Transactions.generate(transaction.configuration.id)}"><i class="icon-cog"></i></a>
								<a href="@{Transactions.deactivate(transaction.configuration.id)}" data-action="deactivate"><i class="${transaction.configuration.active == true ? 'icon-step-forward' : 'icon-off'}"></i></a>
							</td>
						#{/if}
					</tr>
				#{/list}
			#{/list}
		</tbody>
	</table>
</div>

#{if oneOffTransactions}
	<div>
		<h3>&{'titles.transactions.one-off'}</h3>

		<table id="oneOffTransactions" class="table table-condensed table-hover">
			<thead>
				<tr>
					<th style="width: 1px;"></th>
					<th>&{'labels.label'}</th>
					<th>&{'labels.amount'}</th>
					<th>&{'labels.date'}</th>

					#{if currentDate == true}
						<th>&{'labels.pay.monthly'}</th>
					#{/if}
				</tr>
			</thead>

			<tbody>
				#{list as:'transaction', items:oneOffTransactions}
					%{
						double amount = transaction.amount;
					}%

					<tr data-transaction-id="${transaction.id}">
						#{if transaction.additionalLabel}
							<td><i title="${transaction.additionalLabel}" class="icon-info-sign" style="cursor: help;"></i></td>
						#{/if}
						#{else}
							<td></td>
						#{/else}

						<td class="transaction-label">${transaction.label}</td>
						<td class="${(amount < 0) ? 'debit' : ((amount > 0) ? 'credit' : 'neutral')}">${amount.formatCurrency(messages.get('currency'))}</td>
						<td class="transaction-date">${transaction.date.toDate().format(messages.get('date.format'))}</td>

						#{if currentDate == true}
							<td><a href="#" data-action="create"><i class="icon-calendar"></i></a></td>
						#{/if}
					</tr>
				#{/list}
			</tbody>
		</table>
	</div>
#{/if}

<script type="text/javascript">
	var dialog = $('#dialog');

	function initDateForm() {
		var dates = $('#dates');

		dates.find('option').each(function() {
			var date = $(this);
			var year = date.data('year');
			var month = date.data('month');

			if (year == '${date.toDate().format("yyyy")}' && month == '${date.toDate().format("M")}') {
				date.attr('selected', 'selected');

				return false;
			}
		});

		dates.change(function() {
			var selected = dates.find('option:selected');
			var year = date.data('year');
			var month = date.data('month');
			
			window.location = $('#dateForm').attr('action') + '/' + year + '/' + month;
		});
	};

	function initDialog() {
		var form = $('#createRegularTransactionForm');

		/* Buttons configuration */
		var buttons = {};
		buttons[messages['actions.validate']] = function() {
			form.submit();
		};
		buttons[messages['actions.cancel']] = function() {
			$('#dialog').dialog('close')
		};

		/* Dialog configuration */
		$('#dialog').dialog({
			autoOpen: false,
			buttons: buttons,
			height: 375,
			modal: true,
			width: 450,
		});

		/* Datepicker input */
		$('#transactionDate').datepicker({
			buttonImage: '',
			buttonImageOnly: true,
			dateFormat: 'dd/mm/yy',
			minDate: '01/${now.getMonthOfYear()}/${now.getYear()}',
			showOn: 'button'
		});

		/* Form submission */
		form.submit(function() {
			return confirm(messages['confirms.transactions.regular.create']);
		});
	};

	function initRegularTransactionsTable() {
		var regularTransactions = $('#regularTransactions > tbody');

		/* Regular transaction expansion from regular transactions table */
		regularTransactions.find('a[data-action="expand"]').click(function() {
			var categoryId = $(this).data('category-id');
			var i = $(this).find('i');

			if (i.hasClass('icon-chevron-down')) {
				regularTransactions.find('tr[data-category-id="' + categoryId + '"]').hide();

				i.removeClass('icon-chevron-down');
				i.addClass('icon-chevron-right');
			} else {
				regularTransactions.find('tr[data-category-id="' + categoryId + '"]').show();

				i.removeClass('icon-chevron-right');
				i.addClass('icon-chevron-down');
			}

			return false;
		});

		/* Regular transaction deletion from regular transactions table */
		regularTransactions.find('a[data-action="deactivate"]').click(function() {
			return confirm(messages['confirms.transactions.regular.deactivate']);
		});
	};

	function initOneOffTransactionsTable() {
		var oneOffTransactions = $('#oneOffTransactions > tbody');

		/* Regular transaction creation from one-off transactions table */
		oneOffTransactions.find('a[data-action="create"]').click(function() {
			var tr = $(this).closest('tr[data-transaction-id]');
			var transactionId = tr.data('transaction-id');
			var label = tr.find('.transaction-label').text();
			var date = tr.find('.transaction-date').text();

			$('#transactionId').val(transactionId).prop('disabled', false);
			$('#transactionCategory').val('');
			$('#transactionDate').val(date);

			dialog.dialog('option', 'title', label);
			dialog.dialog('open');

			return false;
		});
	};

	$(function() {
		initDateForm();
		initDialog();
		initRegularTransactionsTable();
		initOneOffTransactionsTable();
	});
</script>