#{extends 'main.html' /}
#{set title:'Compte' /}

#{form @Accounts.show(accountId), method:'GET', id:'dateForm', class:'form-inline'}
	<input id="dateYear" type="hidden" value="${year}">
	<input id="dateMonth" type="hidden" value="${month}">

	<select id="dates">
		#{list as:'date', items:dates}
			<option data-year="${date.toDate().format('yyyy')}" data-month="${date.toDate().format('M')}">${date.toDate().format(messages.get('date.format.month'))}</option>
		#{/list}
	</select>

	<button class="btn btn-primary" type="submit">&{'actions.validate'}</button>
#{/form}

<div id="dialog">
	#{form @Transactions.create(), id:'createRegularTransactionForm', method:'POST'}
		<input name="accountId" type="hidden" value="${accountId}">
		<input id="transactionId" name="transactionId" type="hidden">

		<div>
			<label>Catégorie</label>
			#{select 'categoryId', items:categories, labelProperty:'label', id:'transactionCategory'}
				#{option}#{/option}
			#{/select}
		</div>

		<div>
			<label>&{'labels.label'}</label>
			<input id="transactionLabel" name="label" type="text" placeholder="&{'labels.label'}">
		</div>

		<div>
			<label>&{'labels.amount'}</label>
			<input id="transactionAmount" name="amount" type="text" placeholder="&{'labels.amount'}">
		</div>

		<div>
			<label>&{'labels.valueDate'}</label>
			<input id="transactionDate" name="date" type="text" placeholder="&{'labels.date'}">
		</div>
	#{/form}
</div>

<table id="regularTransactions" class="table table-hover">
	<thead>
		<tr>
			<th>&{'labels.label'}</th>
			<th>&{'labels.amount'}</th>
			<th>&{'labels.date'}</th>
			<th>&{'labels.actions'}</th>
		</tr>
	</thead>

	<tfoot>
		<tr id="createRegularTransactionTr">
			<td colspan="3"></td>
			<td><a id="createRegularTransactionLink" href="#"><i class="icon-plus"></i></a></td>
		</tr>
	</tfoot>

	<tbody>
		#{list as:'category', items:regularTransactions.keySet()}
			<tr>
				<td><a href="#" data-action="expand" data-category-id="${category.id}"><i class="icon-chevron-down"></i>&nbsp;${category.label}</a></td>
				<td colspan="3"></td>
			</tr>

			#{list as:'transaction', items:regularTransactions.get(category)}
				<tr class="${(transaction.done == true) ? 'success' : 'error'}" data-category-id="${category.id}">
					<td>${transaction.configuration.label}</td>
					<td>${transaction.configuration.amount.formatCurrency(messages.get('currency'))}</td>
					<td class="transaction-amount" style="display: none;">${transaction.configuration.amount}</td>
					<td>${transaction.date.toDate().format(messages.get('date.format'))}</td>
					<td>
						<a href="@{Transactions.generate(transaction.configuration.id)}"><i class="icon-cog"></i></a>
						<a href="@{Transactions.deactivate(transaction.configuration.id)}" data-action="delete"><i class="${transaction.configuration.active == true ? 'icon-step-forward' : 'icon-off'}"></i></a>
					</td>
				</tr>
			#{/list}
		#{/list}
	</tbody>
</table>

<table id="oneOffTransactions" class="table table-hover">
	<thead>
		<tr>
			<th>&{'labels.label'}</th>
			<th>&{'labels.amount'}</th>
			<th>&{'labels.valueDate'}</th>
			<th>&{'labels.recordingDate'}</th>
			<th>&{'labels.actions'}</th>
		</tr>
	</thead>

	<tbody>
		#{list as:'transaction', items:oneOffTransactions}
			<tr data-transaction-id="${transaction.id}">
				<td class="transaction-label">${transaction.label}</td>
				<td>${transaction.amount.formatCurrency(messages.get('currency'))}</td>
				<td class="transaction-amount" style="display: none;">${transaction.amount}</td>
				<td class="transaction-date">${transaction.valueDate.toDate().format(messages.get('date.format'))}</td>
				<td>${transaction.recordingDate.toDate().format(messages.get('date.format'))}</td>
				<td><a href="#" data-action="create"><i class="icon-calendar"></i></a></td>
			</tr>
		#{/list}
	</tbody>
</table>

<script type="text/javascript">
	var dialog = $('#dialog');

	function initDateForm() {
		var dates = $('#dates');
		var form = $('#dateForm');

		dates.find('option').each(function() {
			var date = $(this);
			var year = date.data('year');
			var month = date.data('month');

			if (year == $('#dateYear').val() && month == $('#dateMonth').val()) {
				date.attr('selected', 'selected');

				return false;
			}
		});

		form.submit(function() {
			var date = $('#dates :selected');
			var year = date.data('year');
			var month = date.data('month');

			window.location = form.attr('action') + '/' + year + '/' + month;


			return false;
		});
	};

	function initDialog() {
		var form = $('#createRegularTransactionForm');

		/* Buttons configuration */
		var buttons = {};
		buttons[messages['actions.validate']] = function() {
			form.submit();
		};
		buttons[messages['actions.cancel']] = function() {
			$('#dialog').dialog('close')
		};

		/* Dialog configuration */
		$('#dialog').dialog({
			autoOpen: false,
			buttons: buttons,
			height: 375,
			modal: true,
			width: 450,
		});

		/* Datepicker input */
		$('#transactionDate').datepicker({
			buttonImage: '',
			buttonImageOnly: true,
			dateFormat: 'dd/mm/yy',
			minDate: '01/${currentMonth}/${currentYear}',
			showOn: 'button'
		});

		/* Form submission */
		form.submit(function() {
			return confirm('Êtes-vous sûr de vouloir ajouter cette transaction permanente ?');
		});
	};

	function initRegularTransactionsTable() {
		var regularTransactions = $('#regularTransactions > tbody');

		/* Regular transaction expansion from regular transactions table */
		regularTransactions.find('a[data-action="expand"]').click(function() {
			var categoryId = $(this).data('category-id');
			regularTransactions.find('tr[data-category-id="' + categoryId + '"]').toggle();

			return false;
		});

		/* Regular transaction creation from regular transactions table */
		$('#createRegularTransactionLink').click(function() {
			$('#transactionId').val('').prop('disabled', true);
			$('#transactionCategory').val('');
			$('#transactionLabel').val('').prop('disabled', false);
			$('#transactionAmount').val('').prop('disabled', false);
			$('#transactionDate').val('');

			$('#dialog').dialog('open');

			return false;
		});

		/* Regular transaction deletion from regular transactions table */
		regularTransactions.find('a[data-action="delete"]').click(function() {
			return confirm('Êtes-vous sûr de vouloir supprimer cette transaction permanente ?');
		});
	};

	function initOneOffTransactionsTable() {
		var oneOffTransactions = $('#oneOffTransactions > tbody');

		/* Regular transaction creation from one-off transactions table */
		oneOffTransactions.find('a[data-action="create"]').click(function() {
			var tr = $(this).closest('tr[data-transaction-id]');
			var transactionId = tr.data('transaction-id');
			var label = tr.find('.transaction-label').text();
			var amount = tr.find('.transaction-amount').text();
			var date = tr.find('.transaction-date').text();

			$('#transactionId').val(transactionId).prop('disabled', false);
			$('#transactionCategory').val('');
			$('#transactionLabel').val(label).prop('disabled', true);
			$('#transactionAmount').val(amount).prop('disabled', true);
			$('#transactionDate').val(date);

			dialog.dialog('open');

			return false;
		});
	};

	$(function() {
		initDateForm();
		initDialog();
		initRegularTransactionsTable();
		initOneOffTransactionsTable();
	});
</script>